<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="table (routes, systemTime)" class="table-wrapper">

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Indulás</th>
            <th scope="col">Érkezés</th>
            <th scope="col">Honnan</th>
            <th scope="col">Hova</th>
            <th scope="col">Utazási idő</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="route: ${routes}">
            <td th:text="${#temporals.format(route.departTime, 'HH:mm')}" th:class="${route.departTime.isBefore(systemTime) ? 'time-is-past' : 'time-is-future'}">/>
            <td th:text="${#temporals.format(route.arrivalTime, 'HH:mm')}"/>
            <td th:text="${route.from}"/>
            <td th:text="${route.to}"/>
            <td th:text="${route.travelTime}"/>
        </tr>
        </tbody>
    </table>

</div>

</body>

